.main-top-links{
  font-size: 0.85em;
}

.active,
.top-links-li:hover{
  background: #fff;
  border-top: 2px solid #EF101B;
  border-bottom: 0;
}

.test{
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.test2{
  background: green;
  height: 80px;
}

.vote,
.answers,
.views{
  height: 70%;
}

.vote{
  background: blue;
}

.answers{
  background: white;
}

.views{
  background: red;
}

.question-wrap{
  background: #05FF16;
  height: 90%;
}

.question{
  background: white;
  font-size: 1.3em;
}

.tag{
  background: gray;
  margin-right: 2px;
}

.aside{
  background: #2600FF;
}

.test h6 {
  color: white;
}